{{#foreach posts}}
	
	<article class="{{post_class}}">
		<div class="inner">
			<header class="header-post">
				<span class="meta-post">
					<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD-MM-YYYY"}}</time>
    				 - <a href="{{url}}#disqus_thread">Comments</a>
				</span>
				<h2 class="title-post">
					<a href="{{url}}">{{{title}}}</a>
				</h2>
			</header>

			{{#if image}}
				<figure class="img-post">
					<img src="{{image}}" alt="">
				</figure>
			{{/if}}

			<section class="post-excerpt">
				<p>{{excerpt words="100"}}&hellip;</p>
				<div class="excerpt-tags">{{#if tags}}{{tags separator=""}}{{/if}}</div>
				<p>
					<a href="{{url}}" class="more">More...</i></a>
				</p>
			</section>
		</div>
		<a href="#top"><div class="bottomCircle"><i class="fa fa-dot-circle-o"></i></div></a>
	</article>

{{/foreach}}

{{pagination}}